<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MalariaTest</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />

<link rel="stylesheet" href="{{ url_for('static',filename='default.css') }}" media="all"/>
<link rel="stylesheet" href="{{ url_for('static',filename='fonts.css') }}" media="all"/>

<link rel="shortcut icon" href="favicon.ico">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
	<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Malaria Test</a></h1>
		
	</div>
	<div id="menu">
		<ul>
			<li><a href="/" accesskey="1" title="">Homepage</a></li>
			<li class="active"><a href="#" accesskey="3" title="">Malaria Test</a></li>
			
		</ul>
	</div>
	</div>

	<div class="container">
		<p>Upload the cell image and find out whether it is infected or uninfected</p>
<br><br><br>


<div class="form">
	<form action="/process/" method="POST" enctype="multipart/form-data">
	<input type="file" name="file" id="file" hidden />
	<label for="file" id="selector">Choose a file&hellip;</label><br><br><br>
	<script type="text/javascript" src="{{ url_for('static',filename='file.js') }}"></script>
	
	<input  type="submit" value="Detect" name="submit" />
	

</form>
</div>

<!--<div  class="container">
	
	
		{% with messages = get_flashed_messages() %}
         {% if messages %}
            
               {% for message in messages %}
               		<p><b>Result : <strong>{{ message }}</strong></b></p>
               {% endfor %}
            
         {% endif %}
      {% endwith %}
	
</div>-->


</body>
</html>