	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #8dc63f;
	}

	p
	{
		margin-top: 0;
		font-size: 1.2em;
	}
	
	 ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
		color: #8dc63f;
	}
	
	a
	{
		color: #8dc63f;
	}
	
	/*a:hover
	{
		text-decoration: none;
	}*/
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #8dc63f;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		

.btn {
  position: absolute;
  top: 205%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  background: #8dc63f;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #FFF;
  /*background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;*/
}

.btn :hover {
  background-color: black;
}

.bttn {
  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  background: #8dc63f;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #FFF;
  
}

.bttn :hover {
  background-color: black;
}


input[type=submit] {
  background-color: #8dc63f;
  color: white;
  position: relative;
  left:-70px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
		text-align: center;
	}

	.boxA h2,
	.boxB h2,
	.boxC h2
	{
		margin-bottom: 1em;
		font-weight: 600;
		font-size: 1.6em;
	}

	.boxA p,
	.boxB p,
	.boxC p
	{
		padding: 0em 1.5em;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 4em;
		left: 0;
	}
	
	#logo h1
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color: #8dc63f;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
		#menu li:before
		{
			content: "/";
			padding: 1em 1.5em;
			font-weight: 700;
			color: rgba(0,0,0,.6);
		}
	
	#menu li a, #menu li span
	{
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1em;
		color: rgba(0,0,0,.4);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: rgba(0,0,0,.6);
	}
	
	#menu .current_page_item a
	{
		color: rgba(0,0,0,.8);
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 15em 0em;
		background: url(images/banner.png) no-repeat center;
		background-size: cover;
		border-top: 1px solid rgba(0,0,0,0.08);
	}


	/*********************************************************************************/
/* Diagnosis                                                                      */
/*********************************************************************************/

	#diagnosis
	{
		overflow: hidden;
		padding: 20em 0em;
		background: url(images/pic04.jpg) no-repeat center;
		background-size: cover;
		border-top: 1px solid rgba(0,0,0,0.08);
	}


	/*********************************************************************************/
/* Image text                                                                  */
/*********************************************************************************/

.imgcontainer {
  position: relative;
  text-align: center;

  color: white;
}

.top-right {
  position: absolute;
  top: 80px;
  left: 16px;
  font-size: 360%;
  font-weight: 800;
  font-style: italic;
		
}
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		position: relative;
		overflow: hidden;
		padding: 8em 0em;
	}

	/*********************************************************************************/
/* Small Page                                                                          */
/*********************************************************************************/

	#spage
	{
		position: relative;
		overflow: hidden;
		padding: 4em 0em;
	}


	


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	
	#featured .align-left
	{
		float: left;
		width: 384px;
		padding-top: 1em;
		text-align: center;
	}
	
	#featured .fa
	{
		font-size: 14em;
		color: #8dc63f;
	}

	#featured .align-right
	{
		float: right;
		width: 792px;
		font-size: 1.2em;
	}


	.box
	{
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	
	.box span
	{
		margin: 0;
		padding: 1em 1em;
		background: #8dc63f;
		display: block;
		line-height: 3em;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.2em;
		color: #FFF;
	}

/*
--------------------------------------------------------------------------------------------------------------------------------*/

/*file input*/

#content{
	justify-content: center;
	align-items: center;
}

label{
	padding: 12px 36px;
	border: 3px solid #8dc63f;
	border-radius: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #8dc63f;
}

label:hover{
	transform: scale(1.04);
	background-color: #1b6b12;
	border: 3px solid #1b6b12;
	
	color: white;
		


}

label.active{
	background-color: #8dc63f;
	color: white;
	border: 3px solid #8dc63f;
}

label span{
	font-weight: normal;
}


 div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}